pandas
numpy==1.26.4
scikit-learn
#xgboost
#lightgbm
#catboost
category_encoders
cloudpickle
mlflow==2.22.0
uvicorn
flask
fastapi
python-json-logger
dotenv
great-expectations==0.18.21
prometheus-client
boto3
sagemaker==2.257.5