#ipykernel
#kagglehub
#azure-storage-file-datalake
#azure-identity
pandas
python-json-logger
dotenv
#setuptools
#great-expectations==0.18.21
numpy==1.26.4
#pyarrow
lightgbm
scikit-learn
mlflow
xgboost
category_encoders
catboost
#optuna
#optuna-integration
#plotly
#ray[tune]
sagemaker 
boto3
mlflow==2.22.0
flask
prometheus-client
cloudpickle